<div nz-row>
  <nz-page-header-title>Last Item</nz-page-header-title>
</div>
<ng-template #indicatorTemplate><img class="spin-logo" src="assets/system_image/process.gif" />
</ng-template>
<nz-spin [nzSpinning]="loader" [nzIndicator]="indicatorTemplate" nzTip="Loading...">
  <div nz-row>
    <div nz-col nzSpan="24">
      <button nz-button class="button-align" (click)="toggleEnv()" nzType="primary" [attr.disabled]="access_type">
        {{ toggleEventCreate ? "Back to Last Item" : "Create Last Item" }}
      </button>
      <input class="search-box" nz-input *ngIf="!toggleEventCreate" placeholder="Search" [(ngModel)]="searchText" />
    </div>
  </div>
  <div nz-row class="table-spaces" *ngIf="!toggleEventCreate">
    <nz-table #basicTable [nzData]="data" nzTableLayout="fixed">
      <thead>
        <tr>
          <th *ngFor="let column of listOfColumn">
            {{ column }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of data">
          <td>
            <span class="icon-spaces first-icon-space" nz-icon title="Edit" nzType="edit" nzTheme="outline"
              (click)="editData(data)"></span>
            <span nz-icon class="icon-spaces first-icon-space" title="Active/Inactive" (click)="inDelete(data, '')"
              nzType="exclamation" nzTheme="outline"></span>
            <span nz-icon class="icon-spaces first-icon-space" title="Delete" (click)="inDelete(data, 'Delete')"
              nzType="delete" nzTheme="outline"></span>
          </td>
          <td>{{ data.category }}</td>
          <td>{{ data.category_name }}</td>
          <td>{{ data.item_no }}</td>
          <td>{{ data.item_name }}</td>
          <td>{{ data.created_by }}</td>
          <td>{{ data.created_date }}</td>
          <td>{{ data.last_updated_by }}</td>
          <td>{{ data.last_updated_date }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="table-spaces box-border" *ngIf="toggleEventCreate">
    <form nz-form [formGroup]="validateForm">
      <div nz-row>
        <div nz-col nzSpan="4">
          <h3>Email ID</h3>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input Email ID!">
              <input [disabled]="isEdit ? true : false" formControlName="email_id" nz-input placeholder="Email Id" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="4"></div>
        <div nz-col nzSpan="4">
          <h3>Password</h3>
        </div>
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input Password!">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input formControlName="password" nz-input [type]="passwordVisible ? 'text' : 'password'"
                  placeholder="password" />
              </nz-input-group>
              <ng-template #suffixTemplate>
                <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                  (click)="passwordVisible = !passwordVisible"></span>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="4">
          <h3>Status</h3>
        </div>
        <div nz-col nzSpan="6">
          <nz-select formControlName="status" class="select-width" [nzDisabled]="!isEdit ? true : false">
            <nz-option nzValue="Active" nzLabel="Active"></nz-option>
            <nz-option nzValue="Inactive" nzLabel="Inactive"></nz-option>
          </nz-select>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <button (click)="submitForm()" nz-button *ngIf="!isEdit" class="submit-btn" nzType="primary">
            Submit
          </button>
          <button (click)="UpdateForm('external')" nz-button *ngIf="isEdit" class="submit-btn" nzType="primary">
            Update
          </button>
        </div>
      </div>
    </form>
  </div>
</nz-spin>
