.search-box {
    width: 20%;
    float: right;
  }
  
  .button-align {
    margin-left: 10px;
    float: right;
  }
  
  .table-spaces {
    margin-top: 10px;
  }
  
  .text-align-box {
    margin-top: 5%;
  }
  
  .icon-spaces {
    cursor: pointer;
    align-items: center;
    margin-right: 4px;
  }
  
  .first-icon-space {
    margin-left: 3px;
  }
  
  .box-border {
    border: 1px solid rgb(0 0 0 / 18%);
    border-radius: 2px;
    transition: all 0.2s;
    padding: 50px;
  }
  
  .select-width {
    width: 100%;
  }
  
  .submit-btn {
    float: right;
  }
  
  .internal-box {
    margin-bottom: 10px;
  }
  
  .spin-logo {
    width: 100px;
    position: relative;
    top: 30%;
  }
  