.ant-co-height {
  height: 100vh;
}

.logo {
  width: 15%;
}

.animation-img {
  width: 80%;
  height: 80%;
  margin: 60px;
}

.login-top-align {
  height: 35%;
}

.login-area {
  width: 10%;
  margin-left: 10px;
  margin-bottom: 3px;
}

.login-topic {
  text-align: center;
  margin-bottom: 10px;
}

.login-area-background {
  background-color: bisque;
}

.email-text {
  width: 60%;
  border-radius: 10px;
}

.login-spacing {
  margin-bottom: 10px;
}

.login-background {
  background-color: #f3f7f8;
}

.forgot-placing {
  position: relative;
  right: 30px;
}
