.create-manage {
  float: right;
  transform: rotate(90deg);
  position: relative;
  left: 3%;
  border: 1px solid gray;
  color: black;
  background-color: transparent;
}

.newFlow {
  position: relative;
  top: 2px;
}

.ant-form-inline .ant-form-item {
  margin-right: 0px !important;
}
