nz-footer {
  text-align: center;
}

.cursor-icon {
  cursor: pointer;
}

.version {
  float: right;
}

strong {
  color: rgba(64, 64, 64, 0.6);
}

.env-look {
  width: 15vh;
  margin-right: 40px;
}

.footer-img {
  width: 4%;
  position: relative;
  bottom: 1px;
  cursor: pointer;
  left: 1px;
}

